<h1>Log In</h1>
<%= form_for @user, {url:"authentications", method:"post"} do |user|%>

<p>
	<%=user.label :email, "Email"%>
	<%=user.text_field :email %>
</p>

<p>
	<%=user.label :password, "Password"%>
	<%=user.text_field :password %>
</p>

<p>
<%= user.submit "Log In" %>
</p>

<%end%>

<hr />
User id: <%= session[:user_id] %>