<div class="login">
	<h1>Log In</h1>
	<%= form_for @user, {url:"/authentications", method:"post"} do |user|%>
	<%=user.text_field :email, :placeholder => "Your email" %><br>
	<%=user.password_field :password, :placeholder => "Your password" %><br>
	<%= user.submit "Log In" %>
	<%end%>
</div>

<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>