<div id="indexcontainer"> 
  <h1>List of Users</h1>
    <ul>
      <%= @user.each do |user| %>
      <li>
        <div class="ulistcleanup">
          <%= user.username %>&nbsp;&nbsp;<%= user.email %>&nbsp;&nbsp;
        <%= link_to "ADD FRIEND", new_friend_path(user_id:user), :class => "mybutton" %>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <% end %>
        </div>
      </li>
    </ul>
</div>








       <!-- THIS BUTTON IS BROKEN MUST FIX!!! -->
        
 <!--          <td><%= button_to #{}"X", { action: "destroy", id: user.id}, {method: :delete, data:{confirm:"Are you damned sure???"}, :class => "mybutton"}
      %></td> -->