<div id="indexcontainer"> 
  <h1>List of Users</h1>
    <table>
       <tr>
        <th>Username and Email</th>
        </tr>
        <%= @user.each do |user| %>
      <tr>
        <td><%= user.username %>---------<%= user.email %> 
          <%= link_to "ADD FRIEND", new_friend_path(user_id:user), :class => "mybutton" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>








       <!-- THIS BUTTON IS BROKEN MUST FIX!!! -->
        
 <!--          <td><%= button_to #{}"X", { action: "destroy", id: user.id}, {method: :delete, data:{confirm:"Are you damned sure???"}, :class => "mybutton"}
      %></td> -->