<% if current_user %>
	You're already logged ya freak!!!!
<% end %>


<h1>Create a New User</h1>
<%=form_for @user do |user|%>

<p>
	<%=user.label :username, "Username"%>
	<%=user.text_field :username, :placeholder => "Enter your username"%>

<p>
	<%=user.label :email, "Email"%>
	<%=user.text_field :email, :placeholder => "Enter your email" %>
</p>

<p>
	<%=user.label :password, "Password"%>
	<%=user.text_field :password, :placeholder => "Enter password" %>
</p>

<p>
	<%=user.label :password_confirmation, "Password Confirmation"%>
	<%=user.text_field :password_confirmation, :placeholder => "Re-enter password" %>
</p>

<p>
<%= user.submit %>
</p>


<% end %>





<% if current_user %>
	Guess what, you're logged in as <%= current_user.email %>!
<% end %>


<% if current_user %>
	Guess what, you're logged in as <%= current_user.email %>!
<% end %>
<hr />
User id: <%= session[:user_id] %>



