
<h1>Edit Event</h1>
<%= form_for @events do |event|%>
<p>
	<%= event.label :date, "Date"%>
	<%= event.date_field :date %>
</p>

<p>
	<%= event.label :time, "Time"%>
	<%= event.text_field :time %>
</p>

<p>
	<%= event.label :name, "Name"%>
	<%= event.text_field :name %>
</p>

<p>
<%= event.submit "Update Event" %>
</p>

<%end%>




