
<h1>Enter a new event.</h1>
<%= form_for @event do |event| %>
	Event is: <%= @event.id %>
<p>
	<%= event.label :date, "Date"%>
	<%= event.date_field :date %>
</p>

<p>
	<%= event.label :time, "Time"%>
	<%= event.time_field :time %>
</p>

<p>
	<%= event.label :name, "Name"%>
	<%= event.text_field :name, :placeholder => "Event name" %>
</p>

<p>
<%= event.submit "Create Event" %>
</p>

<%end%>