<div class="newevent">
<h1>Enter a new event.</h1>
	<%= form_for @event do |event| %>
		
		<%= event.label :name, "Name"%>
		<%= event.text_field :name, :placeholder => "Event name" %>

		<%= event.label :date, "Date"%>
		<%= event.date_field :date %>

		<%= event.label :time, "Time"%>
		<%= event.time_field :time %>

		<%= event.submit "Create Event" %>

	<%end%>

</div>